.box::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: inherit;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: rotate(45deg);
  border: 1px solid #e2e8f0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  z-index: 50;
}

.links p {
  @apply w-28 h-12 rounded-lg duration-200 flex items-center justify-center;
}
