.box::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: inherit;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: rotate(45deg);
  border: 1px solid #e2e8f0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  z-index: 50;
}

.links p {
  @apply cursor-pointer hover:bg-gray-300/50 px-8 py-3 rounded-lg duration-200;
}
